body{
    background-image: url('../imagens_pagina_principal/imagem_principal.png');
    background-repeat: no-repeat;
   
}



li{
    color:#42EA31 ;
    list-style-type: none;
    font-family:'Hanalei Fill', cursive;
    font-size: 40px;
    padding: 25px;
    text-align: center;

    
}

.navegacao div{
    
    border-radius: 20px;
    max-height: 90px;
    max-width: 340px;
    margin-bottom: 50px;
    border: 5px solid #7030CA;
    
    
    
    
    
}

.navegacao div :hover{
    background-color:#7030CA;
    color: #42EA31;
    border-radius: 20px;
}


ul{
    margin-top: 0%;
    margin-left: 65px;
    margin-bottom: 20%;
}


.navegacao {
    
    position: fixed;
    top: 0;
    left: 0;
    right: 70%;
    bottom: 0;
    z-index: -1;
    opacity: 90%;
    background-color: black;
    
    
  }

  

a{
    text-decoration: none;
    
}

h1{
    color: white;
    margin-left: 70px;
    font-family:'Hanalei Fill', cursive ;
    color: #42EA31;
    font-size: 50px;
    margin-top: 20%;
}




@media screen and (max-width: 1600px)  {

    body{
        margin: 0;
        background-image: url('../imagens_pagina_principal/imagem_principal.png');
        background-size: auto;
        background-repeat: no-repeat;
        overflow: hidden;

    }

    h1{
        margin-left: 60px;
        font-family:'Hanalei Fill', cursive ;
        font-size: 40px;
        margin-top: 100px;
        color: #42EA31;
        width: 500px;
    }
    
    .navegacao {
    
        position: fixed;
        top: 0;
        left: 0;
        right: 55%;
        bottom: 0;
        z-index: -1;
        opacity: 90%;
        background-color: black;
        
      }

      li{
        color:#42EA31 ;
        list-style-type: none;
        font-family:'Hanalei Fill', cursive;
        font-size: 40px;
        padding: 0;
        text-align: center;
    
        
    }
}
    
    @media screen and (max-width: 1800px)  {
        h1{
            font-size: 40px;
            margin-left: 100px;
        }



    }
    


    @media screen and (max-width: 1000px)  {

        .navegacao {
    
            top: 0;
            left: 0;
            right: 5%;
            bottom: 0;
            z-index: -1;
            opacity: 90%;
            background-color: black;
            
          }

    }

    

@media screen and (max-height: 800px)  {

    li{
        font-size: 40px;
    }
    
    h1{
        margin-top: 10%;
    }
    
}


@media screen and (max-height: 600px)  {

    li{
        padding: 0px;
    }


}