body {
    margin: 0;
    background-image: url('../imagems_planos_de_curso/pagina_de_planos_de_curso.png');
    background-repeat: no-repeat;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    z-index: 999; /* Ajuste a ordem de empilhamento se necessário */
  }

.eleis {
    list-style-type: none;
    font-family: 'Hanalei Fill', cursive;
    color: #42EA31;
    font-size: 40px;
    
}

.navegacao {
    display: inline-block;
    padding: 10px 15px;
    margin-left: 90px;
    text-align: center;
    width: 24%;
}

 .eleis {
    height: 60px;
    border: 5px solid #7030CA;
    border-radius: 20px;
    margin-top: 50px;
    padding-top: 25px;
    
}

.eleis:hover{
    background-color:#7030CA ;
    border: 5px solid black;

}


.primeira{
    list-style-type: none;
    color: #AD00FF;
    font-family:'Hanalei Fill', cursive ;
    font-size: 32px;
    border: 5px solid #7030CA;
    width: 700px;
    border-radius: 20px;
    height:55px ;
    text-align: center;
    margin-left: 115px;
    background-color: #221D1D;
    padding-top: 10px;


}
.segunda{
    list-style-type: none;
    color: #AD00FF;
    font-family:'Hanalei Fill', cursive ;
    font-size: 32px;
    border: 5px solid #7030CA;
    margin-top: 40px;
    width: 500px;
    border-radius: 20px;
    height: 55px;
    text-align: center;
    margin-left: 200px;
    background-color: #221D1D;
    padding-top: 10px;    
    
}


.diciplinas{
    height: 50%;
    float: left;
    margin-top: 50px;
    width: 700px;

    

}



.diciplinas2{
    float: right;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    
    
}

  


.titulo{
    list-style-type: none;
    font-family: 'Hanalei Fill', cursive;
    font-size: 48px;
    margin-bottom: 50px;
    color: white;
    margin-left: 350px;
}

a{
    text-decoration: none;
}

.segunda:hover{
    color: #42EA31;
    background-color: #7030CA;
    border-color: #221D1D;
}

.primeira:hover{
    color: #42EA31;
    background-color: #7030CA;
    border-color: #221D1D;
}